body {
    background-color: black;
    overflow: hidden;
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#coords {
    position: absolute;
    pointer-events: none;
    color: white;
}